<mat-card class="mt-2 pt-1 text-center">
    <mat-card-header>
      <mat-card-title>
        <i class="fas fa-user"></i>
        {{user.login}}
      </mat-card-title>
      <mat-card-subtitle>{{user.id}}</mat-card-subtitle>
    </mat-card-header>
    <img 
      [src]="user.avatar_url" 
      [alt]="user.name" 
      mat-card-image 
      class="redondo mb-2" />
    <mat-card-actions>
      <button class="boton btn btn-success" [routerLink]="['/user', user.id]">
        Ver mas
      </button>
    </mat-card-actions>
  </mat-card>
