:host {
  display: block;
}

.mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-card-image {
  border-radius: 50% !important;
  width: 150px;          /* Ajusta el ancho de la imagen */
  height: 150px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}