:host {
  display: block;
}
.redondo {
  width: 150px;          /* Ajusta el ancho de la imagen */
  height: 150px;         /* Ajusta la altura de la imagen */
  border-radius: 50%;    /* Hace que la imagen sea redonda */
  /*object-fit: cover;     /* Ajusta la imagen dentro del contenedor */
}