:host {
  display: block; /* Asegura que el contenedor ocupe el espacio */
}

.scrollable {
  max-height: 10px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.tarjeta {
  width: 100%;
}
