<form class="pt-2 mt-3 d-flex"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <input
    formControlName="busqueda"
    class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-success"
    type="submit"
    [disabled]="form.invalid">Buscar</button>
</form>
@if(form.get('busqueda')?.touched && form.get('busqueda')?.invalid){
  <div>
    @if(form.get('busqueda')?.errors?.['required']){
      <small class="form-text text-danger">El campo de busqueda es requerido</small>
    }
    @if(form.get('busqueda')?.errors?.['minlength']){
      <small class="form-text text-danger">El campo de busqueda debe tener al menos 4 caracteres</small>
    }
    @if(form.get('busqueda')?.errors?.['noPertierra']){
      <small class="form-text text-danger">El campo de busqueda no puede ser Pertierra</small>
    }
  </div>
}
@if(usuarios.length > 0) {
<button 
  class="btn btn-outline-danger mt-3"
  (click)="clear()">Limpiar búsqueda</button>
<div class="row">
  @for (user of usuarios; track user.id) {
  <div class="col-md-6 pt-2 mb-3">
    <app-user [user]="user"></app-user>
  </div>
  }
</div>
} @else {
  <p class="text-muted">Aún no has realizado ninguna búsqueda.</p>
  <p>Ingresa un nombre de usuario y presiona "Buscar" para empezar.</p>
  <section>
    <img src="https://media.istockphoto.com/id/1496098113/es/foto/una-hermosa-y-feliz-mujer-de-negocios-rubia-usando-su-tel%C3%A9fono-m%C3%B3vil-mientras-trabaja-en-la.jpg?s=1024x1024&w=is&k=20&c=_108qmXaiOMhmmbPPHpinABIMj3bTtkxTd3lUP0GCGQ=" alt="usuario1">
    <img src="https://media.istockphoto.com/id/2120040219/es/foto/mujer-sonriente-joven-y-bonita-sentada-en-los-escalones-y-leyendo-mensajes-de-texto-de-amigos.jpg?s=1024x1024&w=is&k=20&c=4a_l0Wvr1newwMPePdmJLcjfBKd2ZmGiE_xL1gD7sH4=" alt="usuario2">
    <img src="https://media.istockphoto.com/id/1363697779/es/foto/un-hombre-an%C3%B3nimo-que-usa-una-computadora-port%C3%A1til-para-el-comercio-en-l%C3%ADnea-mientras-trabaja.jpg?s=1024x1024&w=is&k=20&c=FpnMUtUbY9GjY6A3YhKKMKueRTgf1zwPQ1lAvCOD_G8=" alt="usuario3">
    <img src="https://static.cegos.es/content/uploads/2023/03/01165224/GettyImages-1300321639.jpg.webp" alt="usuario4">
    <img src="https://covalto-production-website.s3.amazonaws.com/Hero_Mobile_Cuenta_Personas_V1_1_8046e424ea.webp" alt="usuario5">
  </section>
}
