<form class="pt-2 mt-3 d-flex"
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <input
    formControlName="busqueda"
    class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success"
    type="submit"
    [disabled]="form.invalid">Buscar</button>
</form>
@if(usuarios.length > 0) {
<div class="row">
  @for (user of usuarios; track user.id) {
  <div class="col-md-6 pt-2">
    <app-user [user]="user"></app-user>
  </div>
  }
</div>
} @else {
  <p class="text-muted">Aún no has realizado ninguna búsqueda.</p>
  <p>Ingresa un nombre de usuario y presiona "Buscar" para empezar.</p>
}
