:host {
  display: block;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa; */
}
.error-container {
  flex-grow: 1;
  text-align: center;
}
.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #dc3545;
}
.error-message {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.home-btn {
  margin-top: 20px;
}

img {
  width: min-content;
  height: 20vh;
}