<footer class="footer bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h6 class="medium">Acerca de</h6>
        <p class="small">Página en la que puedes ver lista de usuarios o los datos del usuario uno a uno</p>
      </div>
      <div class="col-md-4">
        <h6 class="medium">Contacto</h6>
        <p class="small"><i class="fas fa-envelope"></i>Email: </p>
        <p class="small"><i class="fas fa-phone"></i>Teléfono: +123 456 7890</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="small">&copy; Prueba de página de usuarios</p>
    </div>
  </div>
</footer>
