:host {
  display: block;
}
.footer {
  position: relative;
  margin-top: 10px;
  bottom: 0; /* Posición al fondo */
  left: 0; /* Alineado a la izquierda */
  right: 0; /* Alineado a la derecha */
}
